@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Krona+One&family=Roboto&display=swap');

body{
    background: #242121;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}

.flex{
    display: flex;
}

.clmn{
    flex-direction: column;
}

.center{
    align-items: center;
}

.jcsa{
    justify-content: space-around;
}

.jcsb{
    justify-content: space-between;
}

.asc{
    align-self: center;
}

.g-20{
    gap: 20px;
}

.g-50{
    gap: 50px;
}

.w-300{
    width: 300px;
}

.scroll{
    overflow-x:scroll;
}

header{
    height: 70px;
    justify-content: center;
    opacity: 0;
    animation: spawn 0.5s 0s forwards;
}

h1{
    font-size: 130px;
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    opacity: 0;
    animation: spawn 0.5s 0s forwards;
}

h2{ 
    font-size: 50px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    opacity: 0;
    animation: spawn 0.5s 0.5s forwards;
}

a{
    color: rgba(255, 255, 255, 0.500);
    text-decoration: none;
}

a:hover, button:hover{ 
    color: rgba(255, 255, 255, 1);
    text-decoration: underline 2px #fc7986;
    cursor: pointer;
}

button{
    background: none;
    border: 2px solid #fc7987;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    color: rgba(255, 255, 255, 0.500);
    font-size: 20px;
    margin-top: 200px;
    opacity: 0;
    animation: spawn 0.5s 1.5s forwards;
}

span{
    color: #fc7986;
}

p{
    font-size: 20px;
    text-align: center;
    opacity: 0;
    animation: spawn 0.5s 1s forwards;
}

.about p{
    text-align: start;
    width: 50%;
}

.second{
    opacity: 0;
    animation: spawn 0.5s 1s forwards;
}

address{
    margin: 0 20%;
}

section{
    width: 100%;
}

.Card{
    width: 800px;
    height: 448px;
    text-align: center;
}

.textProjet{
    opacity: 0;
    height: 100%;
}

.textProjet:hover{
    background-color: #2421218f;
    opacity: 1;
}

.nodecoration:hover{
    text-decoration: none;
}

.Loader{
    animation: Loader 2s 0s infinite;
}

.Loader-Container{
    width: 100%;
    justify-content: center;
}

@keyframes spawn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Loader {
    0% {filter: grayscale(100%);}
    50% {filter: grayscale(0%);}
    100% {filter: grayscale(100%);}
}

@media (max-width: 1300px){
    h1{
        font-size: 100px;
    }

    h2{
        font-size: 45px;
    }

    address{
        margin:  0 10px;
    }
}

@media (max-width: 1000px){
    h1{
        font-size: 70px;
    }

    h2{
        font-size: 35px;
    }

    p{
        font-size: 16px;
    }

    button{
        margin-top: 150px;
    }
}

@media (max-width: 800px){
    
    .Card{
        width: 500px;
        height: 280px;
    }

}

@media (max-width: 600px){
    .clmntel{
        flex-direction: column;
        gap: 50px;
    }

    .asc{
        align-self: flex-start;
    }

    button{
        margin-top: 100px;
    }

}

@media (max-width: 500px){
    
    .Card{
        width: 350px;
        height: 200px;
    }

    button{
        margin-top: 50px;
    }

}

@media (max-width: 420px){
    h1{
        font-size: 50px;
    }

}